.*/
_*/

data/processed_data/
data/hidden_vec_data/
checkpoints/
results/
wandb/

__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

*.pt
*.pth

*.txt

.venv/
venv/
env/

.ipynb_checkpoints/
*.ipynb

.vscode/
.idea/

.DS_Store
Thumbs.db
